terraform/environments/test/.terraform.lock.hcl
terraform/environments/test/.terraform/
terraform/environments/test/terraform.tfstate
terraform/environments/test/terraform.tfstate.backup
terraform/environments/test/terraform
terraform/environments/dev/.terraform.lock.hcl
terraform/environments/dev/.terraform/
terraform/environments/dev/terraform.tfstate
terraform/environments/dev/terraform.tfstate.backup
terraform/environments/dev/terraform